.keypad-container {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-bottom-right-radius: 44px;
  border-bottom-left-radius: 44px;
}

.suggestion-bar {
  width: 100%;
  flex: 0.2;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.3rem;
  overflow-x: scroll;
}

.suggestion-bar::-webkit-scrollbar {
  display: none;
}

.suggestion-bar__text {
  font-size: 0.9rem;
  flex: 1;
  min-width: 28%;
  text-align: center;
  overflow: hidden;
  padding: 0.4rem 0;
  user-select: none;
  font-weight: 500;
  border-radius: 5px;
}

.suggestion-bar__text:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}


.keypad {
  width: 97%;
  padding-bottom: 1.5rem;
  flex: 1;
  border-bottom-right-radius: 44px;
  border-bottom-left-radius: 44px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 6px;
  column-gap: 6px;
}

.keypad__button {
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 1px -2px rgb(175, 175, 175);
}

.keypad__button:hover {
  background-color: rgb(237, 237, 237);
  cursor: pointer;
  user-select: none;
}

.keypad__button:first-of-type {
  cursor: not-allowed;
}

.keypad__button--space {
  grid-column: 1 / 5;
  user-select: none;
}

.keypad__button--delete {
  grid-row: 1 / 4;
  grid-column: 4;
  user-select: none;
}

.keypad__button h6 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 1.1rem;
}

.keypad__button small {
  pointer-events: none;
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 0.65rem;
}

.keypad__toolbar {
  display: flex;
  justify-content: space-between;
  transform: translateY(-12px);
  width: 80%
}

.keypad__icons {
  width: 20px;
  cursor: not-allowed;
}

